In [1]:
import pandas as pd

In [9]:
df_weather = pd.read_fwf('weather.txt')
df_tb = pd.read_csv('tb.csv')
df_billboard = pd.read_csv('billboard.csv')
df_drinks = pd.read_csv('drinks.csv')
df_earthquake = pd.read_csv('earthquake_data.csv')

In [3]:
df_weather

,MX000017004195504TMAX,310,I,310.1,I.1,310.2,I.2,320,I.3,330,...,I.24,330.9,I.25,330.10,I.26,340,I 330,I 320,I-9999,Unnamed: 59
0,MX000017004195504TMIN,150,I,150,I,160,I,150,I,160,...,I,190,I,190,I,170,I 180,I 160,I-9999,NaN
1,MX000017004195504PRCP,0,I,0,I,0,I,0,I,0,...,I,0,I,0,I,0,I 0,I 6,I-9999,NaN
2,MX000017004195505TMAX,310,I,310,I,310,I,300,I,300,...,I,310,I,310,I,320,I 310,I 300,I 290,I
3,MX000017004195505TMIN,200,I,160,I,160,I,150,I,150,...,I,180,I,160,I,150,I 170,I 150,I 160,I
4,MX000017004195505PRCP,0,I,0,I,0,I,0,I,0,...,I,0,I,142,I,0,I 54,I 0,I 46,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1708,MX000017004201103TMIN,999,NaN,999,NaN,999,NaN,999,NaN,148,...,NaN,162,S,999,NaN,999,-9999,-9999,170,S
1709,MX000017004201103PRCP,0,S,999,NaN,0,S,0,S,0,...,NaN,0,S,999,NaN,999,0,S-9999,0,S
1710,MX000017004201104TMAX,999,NaN,350,S,999,NaN,999,NaN,999,...,NaN,999,NaN,999,NaN,999,-9999,-9999,-9999,NaN
1711,MX000017004201104TMIN,999,NaN,168,S,999,NaN,999,NaN,999,...,NaN,999,NaN,999,NaN,999,-9999,-9999,-9999,NaN
1712,MX000017004201104PRCP,0,S,0,S,999,NaN,999,NaN,0,...,NaN,999,NaN,999,NaN,999,-9999,-9999,-9999,NaN

In [5]:
df_tb

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,ZW,2004,14581.0,NaN,NaN,187.0,833.0,2908.0,2298.0,1056.0,...,NaN,NaN,225.0,1140.0,2858.0,1565.0,622.0,214.0,111.0,NaN
5765,ZW,2005,13155.0,NaN,NaN,210.0,837.0,2264.0,1855.0,762.0,...,NaN,NaN,269.0,1136.0,2242.0,1255.0,578.0,193.0,603.0,NaN
5766,ZW,2006,12718.0,NaN,NaN,215.0,736.0,2391.0,1939.0,896.0,...,NaN,NaN,237.0,1020.0,2424.0,1355.0,632.0,230.0,96.0,NaN
5767,ZW,2007,10583.0,6.0,132.0,138.0,500.0,3693.0,0.0,716.0,...,7.0,178.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0,NaN
5768,ZW,2008,9830.0,NaN,NaN,127.0,614.0,0.0,3316.0,704.0,...,NaN,NaN,145.0,840.0,0.0,2890.0,467.0,174.0,105.0,0.0

In [16]:
df_billboard
df_billboard.sort_values('date.entered')
df_billboard.sort_values('artist.inverted')

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
246,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,87,82.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,2000-09-02,2000-09-09,91,87.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2000,3 Doors Down,Kryptonite,3:53,Rock,2000-04-08,2000-11-11,81,70.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,2000,3 Doors Down,Loser,4:24,Rock,2000-10-21,2000-12-02,76,76.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,2000,504 Boyz,Wobble Wobble,3:35,Rap,2000-04-15,2000-05-06,57,34.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,2000,Yankee Grey,Another Nine Minutes,3:10,Country,2000-04-29,2000-05-20,86,83.0,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,2000,"Yearwood, Trisha",Real Live Woman,3:55,Country,2000-04-01,2000-04-29,85,83.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,2000,Ying Yang Twins,Whistle While You Twurk,4:19,Rap,2000-03-18,2000-04-29,95,94.0,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,60,37.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN